<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.spring_test_240502.mapper.MemberMapper">

    <insert id="joinMember">
        insert into bmember (memberID, memberPW, memberName, phone, address, email)
        values (#{memberID}, #{memberPW}, #{memberName}, #{phone}, #{address}, #{email})
    </insert>

    <select id="loginSql" resultType="org.zerock.spring_test_240502.domain.MemberVO">
    select * from bmember where memberID = #{memberID} AND memberPW = #{memberPW}
    </select>

</mapper>